<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.mapper.ZuulRouteMapper">  
	
	<select id="getZuulRoutes" resultType="com.ding.entity.ZuulRouteEntity">
		SELECT
			t.id,
			t.path,
			t.service_id AS serviceId,
			t.url,
			t.strip_prefix AS stripPrefix,
			t.retryable,
			t.enabled,
			t.description
		FROM
			zuul_route t
		WHERE
			1 = 1
	</select> 
</mapper>